@font-face {
  font-family: inter;
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem 0;
}
.nav__logo {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.9rem;
  font-family: montserrat;
  color: #192252;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
}
.nav__menu a {
  color: #192252;
}
.nav__btn button {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  padding: 1.6rem 3.2rem;
  color: #fff;
  background-color: #0e1734;
  border-radius: 0.4rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem 0rem;
}
.hero__info {
  width: 50%;
}
.hero__info h1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 7.2rem;
  color: #192252;
  letter-spacing: -0.01em;
  font-family: montserrat;
}
.hero__info p {
  margin: 2.4rem 0 3.2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #848fac;
}
.hero__info button {
  padding: 1.6rem 3.2rem;
  color: #fff;
  background-color: #0e1734;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
}
.hero__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  gap: 2.4rem;
}
.hero__img img {
  width: 100%;
}
.hero__img img:nth-child(2) {
  padding-top: 8rem;
}

.hotel {
  padding: 8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12.6rem;
}
.hotel__info h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 5.4rem;
  color: #192252;
  letter-spacing: -0.01em;
  font-family: montserrat;
}
.hotel__info p:nth-child(2) {
  margin-bottom: -0.8rem;
}
.hotel__info p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #848fac;
  margin: 2.4rem 0 3.2rem 0;
}
.hotel__info button {
  padding: 1.6rem 3.2rem;
  color: #fff;
  background-color: #0e1734;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
}

.cabin-food {
  padding: 8rem 0rem;
}
.cabin-food__part {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12.6rem;
}
.cabin-food__info h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 5.4rem;
  color: #192252;
  letter-spacing: -0.01em;
  font-family: montserrat;
}
.cabin-food__info p {
  margin: 2.4rem 0 3.2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #848fac;
  margin-bottom: 0rem;
}

.rooms {
  padding: 8rem 0rem;
}
.rooms__sub {
  text-align: center;
  margin-bottom: 8.8rem;
}
.rooms__sub h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 5.4rem;
  color: #192252;
  letter-spacing: -0.01em;
  font-family: montserrat;
}
.rooms__sub p {
  margin: 2.4rem 0 3.2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #848fac;
}
.rooms__sub button {
  padding: 1.6rem 3.2rem;
  color: #fff;
  background-color: #0e1734;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
}
.rooms__types {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rooms__type h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  font-family: montserrat;
  margin-top: 3.2rem;
}
.rooms__type p {
  margin: 2.4rem 0 3.2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #848fac;
  margin-top: 1.6rem;
}
.rooms__type a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}
.rooms__type a span {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #424F7B;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8rem 0rem;
}
.contact__info {
  padding: 3.75rem 0;
}
.contact__info span {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #424F7B;
}
.contact__info h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 5.4rem;
  color: #192252;
  letter-spacing: -0.01em;
  font-family: montserrat;
}
.contact__info p {
  margin: 2.4rem 0 3.2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #848fac;
}
.contact__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}
.contact__buttons button {
  padding: 1.6rem 3.2rem;
  color: #fff;
  background-color: #0e1734;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
}
.contact__buttons a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #0e1734;
}

.contact-acc__part:nth-child(2) {
  margin: 2.4rem 0 2.4rem;
}
.contact-acc__part {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.4rem 0.4rem #333;
}
.contact-acc__part label {
  width: 100%;
  padding: 3rem 3rem 3rem 3.6rem;
  cursor: pointer;
  color: #424F7B;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-acc__part label img:nth-child(2) {
  padding: 1.65rem 1.315rem;
  background-color: #ffece2;
  border-radius: 50%;
}
.contact-acc__part label img:nth-child(3) {
  display: none;
  border-radius: 50%;
  padding: 1.65rem 1.315rem;
  background-color: #ff620a;
}
.contact-acc__part input {
  display: none;
}
.contact-acc__content {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #848fac;
  max-height: 0rem;
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 0 3rem 0rem 3.6rem;
}

.input:checked ~ .contact-acc__content {
  max-height: 5.1rem;
  margin-top: 2.4rem;
  padding-bottom: 6rem;
}
.input:checked ~ label > img:nth-child(2) {
  display: none;
}
.input:checked ~ label > img:nth-child(3) {
  display: block;
}

.testimonial {
  text-align: center;
  padding: 8rem 0rem;
}
.testimonial h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 5.4rem;
  color: #192252;
  letter-spacing: -0.01em;
  font-family: montserrat;
}
.testimonial__img {
  margin: 6.2rem 0 4.4rem 0;
}
.testimonial q {
  margin: 2.4rem 0 3.2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #848fac;
}
.testimonial h4 {
  margin: 4rem 0 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  color: #192252;
}
.testimonial .circles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.testimonial .circles div {
  width: 0.8rem;
  height: 0.8rem;
  background: rgba(250, 176, 71, 0.35);
  border-radius: 50%;
  cursor: pointer;
}
.testimonial .circles div:nth-child(2) {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #FAB047;
}

footer {
  background-color: #0b265a;
}
footer .footer {
  padding: 12rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__logo {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
  font-family: montserrat;
  color: #fff;
}
footer .footer__left p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #D9DBDE;
  margin: 1.3rem 0 3.6rem;
}
footer .footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}
footer .footer__social img {
  cursor: pointer;
}
footer .footer__right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  gap: 12.5rem;
}
footer .footer__item-ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;
}
footer .footer__link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #D9DBDE;
}
footer .footer .main-link {
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 1.9rem;
  letter-spacing: 0.01em;
}